*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


html,
body{

    width:100%;
    height:100%;

    overflow:hidden;

    background:#000;

    font-family:
    "Noto Sans KR",
    sans-serif;

}



canvas{

    display:block;

    width:100vw;

    height:100vh;

    background:#000;

}



#message{

    position:absolute;

    left:50%;

    top:80px;


    transform:
    translateX(-50%);



    color:white;

    font-size:28px;

    font-weight:bold;



    text-shadow:

    0 0 8px black,
    0 0 15px black;



    pointer-events:none;



    opacity:0;



    transition:.2s;


}




#message.show{


    opacity:1;


}




button{


    font-family:
    inherit;


}
